/* Imports */
@import "bootstrap/less/bootstrap.less";


/* Primary styling */

nav, .queries, .aside2{
    background-color:darkred;
    color:white;
 
}

nav{
    height: 50px;
    margin: 10px 0px 10px 0px;
}

nav ul li{
    display: inline;
    margin: 15px;
    ;

}

.primary {
    margin: 0px 0px 0px 0px;
    }

/*=========== Query Input Styling column 1  ====== */
.queries *{
    margin-bottom: 10px;
    /* height: 500px; */
}

.queries *{
    .btn-outline.warning
}

/*=========== News Box Styling column 2  ====== */

main{
    /* border: 1px solid black; */
  
}


.newsBox{
   /* margin: 10px; */
    height: 450px;
    width:inherit;
    /* border: 1px solid red; */

}
.headline-img{
    height:80%;
    width: inherit;
    object-fit:cover;

 
}

.headline{
    font-size: 1em;
  
}

main span {
    font-size:.8em;
   
}

